body {
    display: flex;
    height: 100vh;
    background: black;
}

.container {
    margin: auto;
}

#button {
    border: 4px solid rgb(230, 230, 230);
    background: rgb(122, 122, 255);
    color: white;
    font-weight: bold;
    padding: 1em 2em;
    margin: auto;
    text-decoration: none;
    font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    max-width: 50px;
    max-height: 50px;
}